body{
    margin: 0;
    padding: 0;
    background-color: #d5d5d5;
    /* font-family: 'ABeeZee', sans-serif; */
}


h1, h2 {
    margin-top: 2rem;
    margin-left: 8rem;
    color:rgba(103, 48, 17, 0.79);
}

h3, h4{
     font-family: 'ABeeZee', sans-serif;
     color: rgba(11, 35, 129, 0.872); 
     font-weight: bold;
     font-size: 14px;
}


img {
   display: flex;
    margin:auto;
   /* align-content: center; */
    height:36%;
    width: 30%;
    box-shadow: 5px 5px 5px #aca7a7;
}

.movie-container {
    display: flex;
    /* justify-content: center; */
    height: 30%;
    width: 30%;
}

.movie {
    width: 20%;
    /* border-style: solid; */
    margin: 50px;
    padding: 10px;
    float: left;
  
}

/* removes the bullet */
ul#movie-container{
    list-style: none;
    text-align: center;
}

li#movie{
    display: flex;
    align-items: center;
}

/* buttons */
button.up-vote {
    padding:10px;
    width:fit-content;
    background-color: rgb(42, 85, 225);
    color:rgb(255, 255, 249);
    border:none;
    cursor: pointer;
}

button, down-vote{
    padding:10px;
    width:fit-content;
    background-color: rgb(107, 9, 22);
    color:rgb(255, 255, 249);
    border:none;
    cursor: pointer;
}